<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355942969366-fmtkgfub11oan44knr6430bvp1vsctuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355942969366-fmtkgfub11oan44knr6430bvp1vsctuo</string>
	<key>API_KEY</key>
	<string>AIzaSyBKMI0pe2qipiP50HIma473zLOa2FlBAjA</string>
	<key>GCM_SENDER_ID</key>
	<string>355942969366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>newsha1998.Whole-Body-GAN-Demo</string>
	<key>PROJECT_ID</key>
	<string>whole-body-gan-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>whole-body-gan-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355942969366:ios:5b864c481315a751fa4537</string>
</dict>
</plist>